img {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

#bob {
    text-align: center;
}

#menu {
    text-align: center;
}

#devoured {
    text-align: center;
}

#suggest {
    text-align: center;
}

.card-body {
    background-color: lightgreen;
    padding: 10px;
    box-shadow: 5px 5px 5px #888888;
    box-shadow: black;
}

#suggestions {
    margin-top: 20px;
}
